body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("Default_a_cinematic_photo_of_a_rainy_dark_day_with_a_car_still_3_eb304f91-79ec-46c8-9f6f-794aabb2b05f_1.jpg");
  background-size: cover; /* or 'contain' or '100% 100%' as per your preference */
    background-repeat: no-repeat;
    background-position: center center; /* Center the image */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
